<div class="traducciones">
    <label class="toggle">
        <input class="toggle-checkbox" type="checkbox" [(ngModel)]="traduccion">
        <div class="toggle-switch"></div>
        <span class="toggle-label">Mostrar traducción</span>
    </label>
</div>

<div class="todo">
    <div class="fila">
        <div class="parrafo" *ngFor="let parrafo of textToTranslate; index as z">
            <div class="frases" *ngFor="let frase of parrafo; index as j">
                <span class="palabra" *ngFor="let palabra of frase.split(' '); index as i"
                    (mouseover)="onMouseOver(palabra, i, j, z, $event)" (mouseout)="onMouseOut()">
                    <div class="translation-tooltip" *ngIf="translationID[0] === i && translationID[1] === j && translationID[2] === z" 
                    [ngClass]="{ 'displayed' : translation !== '' }">
                        <!-- <div class="guardar" >
                            <i class="fa-solid fa-question"></i>
                            <i class="fa-sharp fa-regular fa-bookmark"></i>
                            <i class="fa-sharp fa-solid fa-bookmark"></i>
                        </div> -->
                        {{ translation }}
                    </div>
                    {{ palabra }}&nbsp;
                </span>
            </div>
        </div>
    </div>

    <div class="fila" *ngIf="traduccion">
        <div class="parrafo" *ngFor="let parrafo of translatedText">
            <div class="frases" *ngFor="let frase of parrafo">
                {{ frase }}
            </div>
        </div>
    </div>
</div>